// about me

body {
    padding-left: 100px;
    padding-right: 100px;
}

//section-1

.section-1 {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    // padding: 100px;
}

.intro-hero {
     background-image: radial-gradient(#ffa17f, #00223e, );
     width: 400px;
     height: auto;
    //  border-top-right-radius: 100px;
    //  border-bottom-left-radius: 100px;
    background-attachment: fixed;
    border-radius: 50%;
}

.left-section-1 {
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    // background-color: blue;
}


.right-section-1 {
    width: 60%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    // background-color: red;
    // padding-right: 200px;
    // padding-left: 100px;
}

.text-box-about {
    width: 100%;
    height: auto;
      font-family: 'Be Vietnam Pro', sans-serif;
}


.S1-title {
    font-size: 70px;
}

//section-2 

.section-2 {
    width: 100%;
    height: auto;
    background-color: #201c1c;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-image: url(/Images/);
}

.top-section-1 {
    width: 100%;
    height: 100px;
    background-color: red;
}

.S2-title {
    background-color: #201c1c;
    padding: 50px;
    font-size: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color:#dbd5d2;
    border-bottom: 3px solid #343131;
    width: 100%;
}

.left-section-2, .right-section-2 {
    width: 50%;
    height: auto;
    background-color: #201c1c;
    justify-content: center;
    align-items: center;
    display: flex;
    // outline: 5px blue solid;
}

.text-box-school {
    padding: 50px;
    height: auto;
      background-color: #201c1c;
}

.text-box-school {
    h2, p {
          background-color: #201c1c;
    color: #dbd5d2;
     font-family: 'Be Vietnam Pro', sans-serif;
    }
}

.het-rijks {
    width: 75%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    // transform: scale(1.5);
   transform: rotate(-7deg);
}


