body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #201c1c;
}

body::-webkit-scrollbar-thumb {
  background-color: #535151;
  border: 3px solid #201c1c;
  border-radius: 10px;
}

.section-1 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
}

.intro-hero-1 {
  background-image: radial-gradient(#ffa17f, #00223e);
  width: 400px;
  height: auto;
  background-attachment: fixed;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-animation: intro-hero-1 0.5s linear;
          animation: intro-hero-1 0.5s linear;
  -webkit-filter: grayscale(100);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.intro-hero-2 {
  width: 400px;
  height: auto;
  position: absolute;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  margin-top: 545px;
  margin-right: 454px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.left-section-1 {
  width: 40%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-section-1 {
  width: 60%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
  padding-left: 60px;
}

.text-box-about {
  width: 100%;
  height: auto;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.S1-title {
  font-size: 70px;
}

.section-3 {
  width: 100%;
  height: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-1 {
  width: 450px;
  min-height: 450px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  -webkit-transition: 85ms;
  transition: 85ms;
  border-radius: 15px;
  text-align: center;
  padding: 25px;
  margin: 20px;
  font-family: 'Be Vietnam Pro', sans-serif;
  -webkit-animation: card-1 1s linear;
          animation: card-1 1s linear;
  overflow: hidden;
  position: relative;
}

.card-1:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  -webkit-transition: 85ms;
  transition: 85ms;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

@-webkit-keyframes card-1 {
  0% {
    -webkit-transform: translateX(35%);
            transform: translateX(35%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes card-1 {
  0% {
    -webkit-transform: translateX(35%);
            transform: translateX(35%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes intro-hero-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes intro-hero-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes intro-hero-2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes intro-hero-2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.icon {
  width: 100%;
  height: auto;
  background: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.section-3 .card-1 p {
  background: 0;
}

.section-3 .card-1 h1 {
  background: 0;
}

.icon img {
  width: auto;
  height: 75px;
  background: 0;
}

.S3-title {
  background-color: #dbd5d2;
  padding-bottom: 45px;
  font-size: 50px;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #201c1c;
  width: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.S3-underscore {
  -webkit-text-decoration: underline 5px solid #201c1c;
          text-decoration: underline 5px solid #201c1c;
  font-size: 70px;
}

.section-4 {
  width: 100%;
  height: auto;
  background-color: #201c1c;
  margin-top: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
}

.txt {
  width: 100%;
  text-align: center;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.left-section-4 {
  width: 50%;
  height: auto;
  background: 0;
  padding: 50px;
}

.left-section-4 {
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #dbd5d2;
}

.left-section-4 p {
  background: 0;
}

.left-section-4 h2 {
  background: 0;
  font-size: 50px;
}

.right-section-4 {
  width: 50%;
  height: auto;
  background-color: #dbd5d2;
  border-radius: 25px;
  padding: 50px;
  background-image: url(/Images/20221125_124452.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
}

.right-section-4 img {
  height: auto;
  width: 200px;
}
/*# sourceMappingURL=about.css.map */