.button-style-1 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 13px;
    padding-top: 13px;
    background-color: #000;
    border-radius: 25px;
    color: #dbd5d2;
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    border: bold;
}