.header-main {
    .right-header {
        p:after {
            content: url(/Images/002-taekwondo-64x.png);
            margin-left: 55px;
        }
    }
}

.button-style-1,
.button-style-2,
.button-style-3 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 10px;
    font-family: 'Saira Condensed', sans-serif;
    transition: 55ms;
    font-size: 18px;
}

.button-style-2 {
    margin-right: 20px;
}

.button-style-1 {
    background-color: #000;
    border: 2px solid black;
    color: #dbd5d2;
}

.button-style-2 {
    background-color: #dbd5d2;
    border: 2px solid #000;
    color: #000;
}

.button-style-3 {
    background-color: #dbd5d2;
    border: 2px solid #000;
    color: #000;
}

.button-style-1:hover {
    background-color: #dbd5d2;
    color: #000;
    transition: 55ms;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.button-style-2:hover {
    background-color: #000;
    color: #dbd5d2;
    transition: 55ms;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.button-style-3:hover {
    background-color: #000;
    color: #dbd5d2;
    transition: 55ms;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.header-button {
    // height: 100%;
    width: 200px;
    font-size: 25px;
    font-family: 'Saira Condensed', sans-serif;
    border: 0;
}

.header-button:hover {
    cursor: pointer;
    text-decoration: underline 1px solid #000;
}