* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #dbd5d2;
}

// font imports

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
// font-family: 'Barlow', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
// font-family: 'Teko', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
// font-family: 'Saira Condensed', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap'); // font-family: 'Be Vietnam Pro', sans-serif;
// font-family: 'Be Vietnam Pro', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');
// font-family: 'Be Vietnam Pro', sans-serif;



// main containers home

.home-main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.left-home-container {
    width: 50%;
    // height: 100vh;
    // background-color: rebeccapurple;
    justify-content: center;
    align-items: center;
    display: flex;
}

.right-home-container {
    width: 50%;
    height: 100%;
    // background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: end;
    justify-content: center;
    z-index: 1000;
    //  background-image: radial-gradient(#ffa17f, #00223e, );
    //  border-bottom-left-radius: 100%;
}

// main containers home

// containers inside the right container

.R-container-bg-1 {
    width: 25%;
    height: 100%;
    background-color: #000;
    // transform: skew(50deg);
}

.R-container-bg-2 {
    width: 35%;
    height: 100%;
    background-color: rgb(24, 23, 23);
    // transform: skew(50deg);
}

.R-container-bg-3 {
    width: 40%;
    height: 100%;
    background-color: rgb(37, 36, 36);
    // transform: skew(50deg);
}

// containers inside the right container


// text box container 

.home-text-box {
    width: 100%;
    background-color: #dbd5d2;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 75px;
    height: auto;
    font-size: 50px;
    word-wrap: break-word;
    text-align: left;
    z-index: 1000;
}

p {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

// bottom containers

.bottom-home-container {
    width: 100%;
    height: 650px;
    // background-color: #dbd5d2;
    background-color: #000;
    display: flex;
    padding: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
    justify-content: space-between;
    flex-wrap: wrap;
    //  padding: 75px;
}

.project {
    width: 300px;
    height: 300px;
    margin: 25px;
    border: 1px solid #000;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}




.icon-1::before {
    content: url(/Images/001-web.png);
    margin-right: 50px;
}

.icon-2::before {
    content: url(/Images/002-layers.png);
    margin-right: 50px;
}

// hero container

.home-main-container {
    .right-home-container {
        .block {
            width: 200px;
            height: 200px;
            background-color: rgb(65, 57, 57);
            position: absolute;
            margin-right: 500px;
            margin-bottom: 700px;
        }


        .hero-banner-container {
            .hero {
                width: 450px;
                height: auto;
                box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; // rotate: -10deg;
                transition: 55ms;
                // background-image: radial-gradient(#6441A5, #2a0845);
                //background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(100, 43, 115, 1) 0%, rgba(4, 0, 4, 1) 90%);
                // background-image: radial-gradient(#360033, #0b8793);
                background-color: #201c1c;
                transition: 55ms;
                background-attachment: fixed;
                border-bottom-left-radius: 150px;
                border-top-right-radius: 150px;
            }
        }
    }

    .hero-banner-container {
        height: auto;
        background-color: rgba(255, 0, 0, 0);
    }
}

.copyright {
    width: 100%;
    height: 250px;
    position: relative;
    z-index: 1000;
    background-color: #201c1c;
    // background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(100, 43, 115, 1) 0%, rgba(4, 0, 4, 1) 90%);
    color: #dbd5d2;
    text-align: center;
    align-items: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    justify-content: center;
    // margin-top: -210px;
    clip-path: polygon(100% 44%, 0% 100%, 100% 100%);
}

// progress bar css

// progress bar wrappers

.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}

.wrapper .card {
    width: calc(33% - 20px);
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.wrapper .card .circle {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: default;
}

.card .circle .box,
.card .circle .box span {
    position: absolute;
    top: 50%;
    left: 50%;
}

.card .circle .box {
    height: 100%;
    width: 100%;
    // background-image: linear-gradient(#ffa17f, #00223e);
    background-color: #bdb8b5;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
}

.card .circle:hover .box {
    transform: translate(-50%, -50%) scale(0.91);
}


.card .circle .box span,
.wrapper .card .text {
    background: -webkit-linear-gradient(left, #201c1c, #201c1c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circle .box span {
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
}

.card .circle:hover .box span {
    transform: translate(-45%, -45%) scale(1.09);
}

.card .text {
    font-size: 20px;
    font-weight: 600;
}

// contact css

.contact-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/Images/LL2023_026.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    filter: grayscale(100);
}

.contact-bar {
    width: 100%;
    height: 200px;
    background-color: #201c1cad;
    backdrop-filter: blur(10px);
}

// click effect mouse

div.clickEffect {
    position: fixed;
    box-sizing: border-box;
    border-style: solid;
    border-color: #000;
    border-radius: 50%;
    animation: clickEffect 0.4s ease-out;
    z-index: 99999;
}

@keyframes clickEffect {
    0% {
        opacity: 1;
        width: 0.5em;
        height: 0.5em;
        margin: -0.25em;
        border-width: 0.5em;
    }

    100% {
        opacity: 0.2;
        width: 15em;
        height: 15em;
        margin: -7.5em;
        border-width: 0.03em;
    }
}

/* ---------- Useful Button styling ---------- */

// .button {
//     position: relative;
//     background-color: black;
//     border-radius: 10px;
//     font-size: 16px;
//     color: white;
//     padding: 0.8em 1.8em;
//     cursor: pointer;
//     user-select: none;
//     text-align: center;
//     text-decoration: none;
//     cursor: pointer;
//     transition-duration: 0.4s;
//     -webkit-transition-duration: 0.4s;
//     /* Safari */
// }

// .button:hover {
//     transition-duration: 0.1s;
//     background-color: #3A3A3A;
// }

// .button:after {
//     content: "";
//     display: block;
//     position: absolute;
//     border-radius: 4em;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     opacity: 0;
//     transition: all 0.5s;
//     box-shadow: 0 0 10px 40px white;
// }

// .button:active:after {
//     box-shadow: 0 0 0 0 white;
//     position: absolute;
//     border-radius: 4em;
//     left: 0;
//     top: 0;
//     opacity: 1;
//     transition: 0s;
// }

// .button:active {
//     top: 1px;
// }



/* ---------- Looking nice on CodePen ---------- */