@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #dbd5d2;
}

html {
  scroll-behavior: smooth !important;
}

.home-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.left-home-container {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: 0;
}

.right-home-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  justify-content: center;
  background: 0;
}

.R-container-bg-1 {
  width: 25%;
  height: 100%;
  background-color: #000;
}

.R-container-bg-2 {
  width: 35%;
  height: 100%;
  background-color: rgb(24, 23, 23);
}

.R-container-bg-3 {
  width: 40%;
  height: 100%;
  background-color: rgb(37, 36, 36);
}

.home-text-box {
  width: 100%;
  background-color: #dbd5d2;
  font-family: "Be Vietnam Pro", sans-serif;
  padding: 75px;
  height: auto;
  font-size: 50px;
  word-wrap: break-word;
  text-align: left;
  background: 0;
}

.home-text-box h1 {
  background: 0;
}
.home-text-box a {
  background: 0;
}

p {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: 0;
}

.bottom-home-container {
  width: 100%;
  height: 650px;
  background-color: #000;
  display: flex;
  padding: 50px;
  font-family: "Be Vietnam Pro", sans-serif;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  width: 300px;
  height: 300px;
  margin: 25px;
  border: 1px solid #000;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.icon-1::before {
  content: url(/Images/001-web.png);
  margin-right: 50px;
}

.icon-2::before {
  content: url(/Images/002-layers.png);
  margin-right: 50px;
}

.home-main-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/Images/stacked-waves-haikei-background-2.svg);
}

.home-main-container .right-home-container .block {
  width: 200px;
  height: 200px;
  background-color: rgb(65, 57, 57);
  position: absolute;
  margin-right: 500px;
  margin-bottom: 700px;
}
.home-main-container .right-home-container .hero-banner-container .hero {
  width: 450px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: 55ms;
  background-image: url(/Images/blob-scene-haikei.svg);
  transition: 85ms;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-main-container .right-home-container .hero-banner-container .hero:hover {
  background-image: url(/Images/blob-scene-haikei-hover.svg);
  transition: 85ms;
}
.home-main-container .hero-banner-container {
  height: auto;
  background-color: rgba(255, 0, 0, 0);
}

.copyright {
  width: 100%;
  height: 250px;
  position: relative;
  z-index: 1000;
  background-color: #201c1c;
  color: #dbd5d2;
  text-align: center;
  align-items: center;
  font-family: "Be Vietnam Pro", sans-serif;
  display: flex;
  justify-content: center;
  -webkit-clip-path: polygon(100% 44%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 44%, 0% 100%, 100% 100%);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: "Be Vietnam Pro", sans-serif;
  padding-left: 100px;
  padding-right: 100px;
}

.wrapper .card {
  width: calc(33% - 20px);
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.wrapper .card .circle {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}

.card .circle .box,
.card .circle .box span {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card .circle .box {
  height: 100%;
  width: 100%;
  background-color: #bdb8b5;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}

.card .circle:hover .box {
  transform: translate(-50%, -50%) scale(0.91);
}

.card .circle .box span,
.wrapper .card .text {
  background: -webkit-linear-gradient(left, #201c1c, #201c1c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle .box span {
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}

.card .circle:hover .box span {
  transform: translate(-45%, -45%) scale(1.09);
}

.card .text {
  font-size: 20px;
  font-weight: 600;
}

div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #000;
  border-radius: 50%;
  animation: clickEffect 0.4s ease-out;
  z-index: 99999;
}

@keyframes clickEffect {
  0% {
    opacity: 1;
    width: 0.5em;
    height: 0.5em;
    margin: -0.25em;
    border-width: 0.5em;
  }
  100% {
    opacity: 0.2;
    width: 15em;
    height: 15em;
    margin: -7.5em;
    border-width: 0.03em;
  }
}
#myBtn {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #312d2d;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-family: "Be Vietnam Pro", sans-serif;
  transition: 85ms;
  right: 0px;
  font-weight: bold;
  letter-spacing: 2px;
  scroll-behavior: smooth !important;
}

#myBtn:hover {
  background-color: #3f3b3b;
  transition: 85ms;
  cursor: grab;
}

.contact-wrapper {
  height: auto;
  width: 100%;
  background-image: url(/Images/stacked-waves-haikei-bg-cont.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px;
  text-align: c;
}

.contact {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-family: "Be Vietnam Pro", sans-serif;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/Images/blob-scene-haikei-cnt.svg);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.contact img {
  width: 35px;
  height: auto;
  background: 0;
  margin-bottom: 15px;
}

.contact-devider-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: 0;
}

.contact-card {
  flex-direction: column;
  padding: 25px;
  width: 450px;
  min-height: 200px;
  background: 0;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  transition: 85ms;
}

.contact-card:hover {
  transform: scale(1.1);
  transition: 85ms;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  cursor: grab;
}

.contact-wrapper h1 {
  background: 0;
}
.contact-wrapper p {
  padding-top: 0;
  padding-bottom: 0;
}
.contact-wrapper a {
  background: 0;
  text-decoration: none;
  color: #000;
  transition: 85ms;
}
.contact-wrapper a:hover {
  -webkit-text-decoration: underline 1px solid #000;
          text-decoration: underline 1px solid #000;
  transition: 85ms;
}/*# sourceMappingURL=main.css.map */