@media (min-width: 2560px) {
  .home-main-container .right-home-container .hero-banner-container .hero {
    width: 775px;
  }
}

@media (min-width: 2000px) {
  .home-main-container .right-home-container .hero-banner-container .hero {
    width: 625px;
  }
  .section-1 .left-section-1 .intro-hero-1 {
    width: 475px;
  }
  .section-1 .left-section-1 .intro-hero-2 {
    width: 375px;
    margin-top: 520px;
    margin-right: 533px;
  }
  .section-1 .right-section-1 .text-box-about p {
    font-size: 27px;
  }
  .section-1 .right-section-1 .text-box-about .S1-title {
    font-size: 80px;
  }
  .section-5 .skill-card {
    width: 365px;
    height: 365px;
  }
  .header-main .left-header .header-button {
    font-size: 33px;
  }
  .home-main-container .left-home-container .home-text-box p {
    font-size: 30px;
  }
  .home-main-container .left-home-container .home-text-box h1 {
    font-size: 40px;
  }
  .section-3 .card-1 p {
    font-size: 27px;
  }
}

@media (max-width: 1550px) {
  .button-style-1,
  .button-style-2 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 7px;
    padding-top: 7px;
  }
}

@media (max-width: 1630px) {
  .home-main-container .left-home-container .home-text-box {
    font-size: 35px;
  }
  .section-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .right-section-4 {
    width: 100% !important;
    height: 500px !important;
  }
  .left-section-4 {
    width: 100% !important;
  }
}

@media (max-width: 1251px) {
  .home-main-container .left-home-container .home-text-box {
    font-size: 25px;
  }
  .section-1 .left-section-1 .intro-hero-2 {
    width: 250px;
  }
  .home-main-container .right-home-container .hero-banner-container .hero {
    width: 315px;
  }
  .section-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-1 .left-section-1,
  .section-1 .right-section-1 {
    width: 100%;
  }
  .right-section-1 {
    padding-top: 50px;
  }
  .section-1 .left-section-1 .intro-hero-2 {
    margin-top: 236px;
    margin-right: -439px;
  }
}

@media (max-width: 1000px) {
  .home-main-container .left-home-container .home-text-box {
    font-size: 20px;
  }
  .section-6 .text-box-skills {
    padding: 0;
  }
  .section-6 .text-box-skills p {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .header-main {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left-home-container,
  .right-home-container {
    width: 100%;
  }
  .home-main-container .left-home-container .home-text-box {
    text-align: center;
  }
  .home-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .left-header,
  .right-header {
    width: 100%;
  }
  .left-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .right-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }
  .right-header {
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .right-header p {
    display: none;
  }
  .button-style-1 {
    margin-right: 0;
  }
  .header-main .left-header img {
    width: 140px;
  }
  .h-button {
    width: 500px;
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .section-1 .left-section-1 .intro-hero-2 {
    margin-top: 271px;
    margin-right: 331px;
    width: 200px;
  }
}

@media (max-width: 767px) {
  .header-main .left-header li {
    font-size: 20px;
  }
  .section-4 {
    padding: 50px !important;
  }
  .button-style-1,
  .button-style-2 {
    font-size: 18px;
  }
  .home-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left-home-container,
  .right-home-container {
    width: 100%;
  }
  .bottom-home-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .right-bottom-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .left-bottom-container {
    width: 100%;
    margin-bottom: 50px;
  }
  .section-6 .text-box-skills {
    width: 100%;
  }
}

@media (max-width: 605px) {
  .work-wrapper {
    padding: 50px !important;
  }
  .section-1 .left-section-1 .intro-hero-1 {
    width: 275px;
  }
  .section-1 .left-section-1 .intro-hero-2 {
    display: none;
  }
  .section-3 {
    padding: 0 !important;
  }
  .h-button {
    width: 300px;
    font-size: 10px;
    padding: 20px;
  }
  .section-4 .left-section-4 {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .home-main-container .right-home-container .hero-banner-container .hero {
    width: 225px;
    border-bottom-left-radius: 85px;
    border-top-right-radius: 85px;
  }
  .section-5 {
    padding: 50px !important;
  }
  .section-5 h1 {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  .section-4 .left-section-4 {
    padding: 0;
  }
}

@media (max-width: 425px) {
  .button-style-2 {
    margin-top: 10px;
    margin-right: 0;
  }
  .home-main-container .left-home-container .home-text-box p {
    font-size: 15px;
  }
  .home-main-container .left-home-container .home-text-box h1 {
    font-size: 35px;
  }
}

@media (max-width: 753px) {
  .wrapper {
    max-width: 700px;
  }
  .wrapper .card {
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
  .section-1 .right-section-1 .text-box-about p {
    font-size: 25px;
  }
  .section-1 {
    padding: 0px !important;
  }
}

@media (max-width: 640px) {
  .wrapper {
    max-width: 500px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .wrapper .card {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .right-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button-style-2 {
    margin-right: 0px;
    margin-bottom: 13px;
  }
}

@media (max-width: 400px) {
  .h-button {
    display: none;
  }
}
/*# sourceMappingURL=responsive.css.map */