@media (min-width:2560px) {

    .home-main-container {
        .right-home-container {
            .hero-banner-container {
                .hero {
                    width: 775px;
                }
            }
        }
    }
}

@media (min-width:2000px) {
    .home-main-container {
        .right-home-container {
            .hero-banner-container {
                .hero {
                    width: 625px;
                }
            }
        }
    }
}

@media (max-width:1800px) {
    .section-1 {
        .left-section-1 {
            .intro-hero-2 {
                margin-top: 265px;
                width: 350px;
            }
        }
    }
}



@media (max-width:1550px) {

    .button-style-1,
    .button-style-2 {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 7px;
        padding-top: 7px;
    }
}

@media (max-width:1630px) {
    .home-main-container {
        .left-home-container {
            .home-text-box {
                font-size: 35px;
            }
        }
    }

    .section-4 {
        flex-direction: column;
    }

    .right-section-4 {
        width: 100% !important;
        height: 500px !important;
    }

    .left-section-4 {
        width: 100% !important;
    }
}

@media (max-width:1251px) {
    .home-main-container {
        .left-home-container {
            .home-text-box {
                font-size: 25px;
            }
        }
    }

    .section-1 {
        .left-section-1 {
            .intro-hero-2 {
                width: 250px;
            }
        }
    }

    .home-main-container {
        .right-home-container {
            .hero-banner-container {
                .hero {
                    width: 315px;
                }
            }
        }
    }

    .section-1 {
        flex-direction: column;
    }

    .section-1 {

        .left-section-1,
        .right-section-1 {
            width: 100%;
        }
    }

    .right-section-1 {
        padding-top: 50px;
    }
}

@media (max-width:1000px) {
    .home-main-container {
        .left-home-container {
            .home-text-box {
                font-size: 20px;
            }
        }
    }
}


@media (max-width:1200px) {

    //was 942px
    .header-main {
        height: auto;
        flex-direction: column;
    }

    .left-home-container,
    .right-home-container {
        width: 100%;
    }

    .home-main-container {
        .left-home-container {
            .home-text-box {
                text-align: center;
            }
        }
    }

    .home-main-container {
        flex-direction: column;
        height: auto;
    }

    .left-header,
    .right-header {
        width: 100%;
    }

    .left-header {
        flex-direction: column;
    }

    .right-header {
        justify-content: center;
        padding-right: 0;
    }

    .right-header {
        p {
            display: none;
        }

        padding-bottom: 20px;
        padding-top: 10px;
    }

    .button-style-1 {
        margin-right: 0;
    }

    .header-main {
        .left-header {
            img {
                width: 140px;
            }
        }
    }
}


@media (max-width:767px) {
    .header-main {
        .left-header {
            li {
                font-size: 20px;
            }
        }
    }

    .section-4 {
        padding: 50px !important;
    }

    .button-style-1,
    .button-style-2 {
        font-size: 18px;
    }

    .home-main-container {
        flex-direction: column;
    }

    .left-home-container,
    .right-home-container {
        width: 100%;
    }

    .bottom-home-container {
        flex-direction: column;
    }

    .right-bottom-container {
        flex-direction: column;
        width: 100%;
    }

    .left-bottom-container {
        width: 100%;
        margin-bottom: 50px;
    }
}

@media (max-width:605px) {
    // .button-style-1 {
    //     margin-top: 10px;
    // }

    .section-1 {
        .left-section-1 {
            .intro-hero-1 {
                width: 275px;
            }
        }
    }

    .section-1 {
        .left-section-1 {
            .intro-hero-2 {
                display: none;
            }
        }
    }
}

@media (max-width:450px) {
    .home-main-container {
        .right-home-container {
            .hero-banner-container {
                .hero {
                    width: 225px;
                    border-bottom-left-radius: 85px;
                    border-top-right-radius: 85px;
                }
            }
        }
    }
}

@media (max-width:425px) {
    .button-style-2 {
        margin-top: 10px;
        margin-right: 0;
    }

    .home-main-container {
        .left-home-container {
            .home-text-box {
                p {
                    font-size: 15px;
                }

                h1 {
                    font-size: 35px;
                }
            }
        }
    }
}


// progress bar media queries

@media(max-width: 753px) {
    .wrapper {
        max-width: 700px;
    }

    .wrapper .card {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }

    .section-1 {
        .right-section-1 {
            .text-box-about {
                p {
                    font-size: 25px;
                }
            }
        }
    }

    .section-1 {
        padding: 0px !important;
    }
}

@media(max-width: 640px) {
    .wrapper {
        max-width: 500px;
        padding-right: 25px;
        padding-left: 25px;
    }

    .wrapper .card {
        width: 100%;
    }
}

@media (max-width:375px) {
    .right-header {
        flex-direction: column;
    }

    .button-style-2 {
        margin-right: 0px;
        margin-bottom: 13px;
    }
}